body {
  font-family: $HelveticaNeueCyr;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  color: var(--color-white);
  background-color: var(--color-dark);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  @include breakpointsMaxW($bp-768) {
    padding: 0 10px;
  }
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100vh;
  background-color: rgba(1, 4, 2, 0.9);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.logo {
  flex-shrink: 0;
  width: 125px;
  height: 45px;
  img {
    @include img(contain);
  }
}

.section-title {
  @include adaptive-value('font-size', 40, 24, 1);
  line-height: 1.1;
  font-weight: 300;
}

.btn {
  display: inline-block;
  font-size: 17px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-accent);
  padding: 15px 18px;
  transition: 150ms ease;

  &:hover {
    background-color: #025df0;
  }

  &:active {
    transform: scale(0.98);
  }

  &--dark {
    font-size: 13px;
    padding: 10px 35px 10px 25px;
    background-color: var(--color-black);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;

    &:hover {
      border-color: var(--color-accent);
    }

    &::after {
      @include elDef();
      width: 26px;
      height: 14px;
      @include maskImage(url('../images/icons/arrow-left.svg'), contain);
      background-color: #cbcbcb;
      right: 6px;
      top: 30%;
      transform: rotate(180deg);
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  width: 30px;
  height: 20px;

  &::after {
    @include elDef();
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include maskImage(url('../images/icons/arrow-left.svg'), contain);
    background-color: var(--color-white);
  }
}

.swiper-button-next {
  right: 0;

  &::after {
    transform: rotate(180deg);
  }
}

.swiper-button-prev {
  left: 0;
}
.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.wSelect-theme-classic.wSelect {
  background-color: transparent;
  color: #e9e4e4;
  border-color: transparent;
  min-width: 85px;
  margin-bottom: 0;
  font-size: 15px;

  &:hover {
    box-shadow: none;
  }
}
.wSelect-selected {
  margin: 0 5px;
}
.wSelect-theme-classic .wSelect-options-holder {
  background-color: var(--color-dark);
  border-color: var(--color-dark-2);
}
.wSelect-options {
  border-color: transparent !important;
  height: 150px !important;
  overflow: auto;
}
.wSelect-option {
  background-color: var(--color-dark-3) !important;
  color: var(--color-white) !important;
  padding-top: 7px;
  padding-bottom: 7px;
}
.wSelect {
  width: 85px !important;
  background-color: transparent;

  .wSelect-option-value .wSelect-option-icon {
    width: 10px !important;
    height: 10px;
    background-size: contain;
  }

  .wSelect-option-icon {
    padding-left: 30px;
    background-size: 20px 20px;
  }

  .wSelect-arrow {
    background-image: none;
    @include maskImage(url('../images/icons/chevron.svg'), 7px 7px);
    background-color: #e9e4e4;
    width: 10px;
    margin-right: 0;
    padding-right: 25px;
  }
}
