.advantages {
  @include adaptive-value('padding-top', 90, 50, 1);
  @include adaptive-value('padding-bottom', 110, 50, 1);

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 450px) minmax(auto, 440px) minmax(
        auto,
        300px
      );
    gap: 45px;

    @include breakpointsMaxW($bp-container) {
      grid-template-columns: 1fr 1fr 0.8fr;
      gap: 30px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    color: var(--color-white);
    @include adaptive-value('margin-bottom', 32, 20, 1);
  }

  &__text {
    color: #979696;
    line-height: 1.6;
    @include adaptive-value('margin-bottom', 50, 30, 1);
    p {
      &:not(:last-child) {
        @include adaptive-value('margin-bottom', 30, 20, 1);
      }
    }
  }

  &__preview {
    width: 100%;
    height: 450px;
    @include background(cover);

    @include adaptive-value('height', 595, 300, 1);
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;

    @include breakpointsMaxW($bp-991) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column: 1/-1;
    }
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    max-width: 290px;
    position: relative;
    padding-left: 42px;
    font-size: 14px;
    line-height: 1.6;
    color: #979696;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }

    &::after {
      @include elDef();
      width: 22px;
      height: 22px;
      @include backgroundImage(url('../images/square.png'), contain);
      top: 8%;
      left: 0;
    }
  }

  &__heading {
    max-width: 233px;
    color: var(--color-white);
    margin-bottom: 7px;
    
    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }
  }
}
