.services-card {
  background-color: #101010;
  border: 1px solid rgba(234, 234, 234, 0.09);
  max-width: 500px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  gap: 15px;
  transition: 150ms ease;
  
  &:hover {
    border-color: rgba(234, 234, 234, 0.5);
  }

  @include adaptive-value('padding', 30, 15, 1);

  @include breakpointsMaxW($bp-991) {
    grid-template-columns: 1fr;
  }

  &__info {
    max-width: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 20px;
    line-height: 1.3;
    @include adaptive-value('font-size', 25, 18, 1);
    font-weight: 300;
  }

  &__text {
    margin-bottom: 20px;
    width: 100%;
    font-size: 13px;
    line-height: 21px;
    color: #c0c0c0;
    padding-left: 16px;
    position: relative;

    &::after {
      @include elDef();
      width: 8px;
      height: 1px;
      background-color: var(--color-accent);
      top: 10%;
      left: 0;
    }
  }

  &__img {
    max-width: 203px;
    width: 100%;
    height: 203px;
    flex-shrink: 0;

    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
    }

    img {
      @include img(contain);
    }
  }

  &__btn {
    margin-top: auto;
    display: block;
  }
}
