.catalog {
  @include adaptive-value('padding-bottom', 90, 60, 1);

  &__top {
    background-color: var(--color-bg);

    &-inner {
      @include adaptive-value('padding-top', 75, 40, 1);
      @include adaptive-value('padding-bottom', 75, 40, 1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      @include breakpointsMaxW($bp-991) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  &__content {
    @include adaptive-value('padding-top', 75, 40, 1);
    @include adaptive-value('padding-bottom', 105, 95, 1);
    position: relative;
  }

  &__loader {
    width: 41px;
    height: 41px;
    @include backgroundImage(url('../images/loading.png'), contain);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    position: absolute;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 310px));
    gap: 10px;
    justify-content: space-between;

    @include breakpointsMaxW($bp-container) {
      grid-template-columns: repeat(3, minmax(auto, 310px));
      justify-content: center;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, minmax(auto, 310px));
    }

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: minmax(auto, 310px);
    }
  }

  &__item {
    width: 100%;
    justify-self: center;
    height: 100%;
  }
}
