.complex {
  @include background(cover);
  @include adaptive-value('padding-top', 80, 40, 1);
  // padding-bottom: 20px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 320px));

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(3, minmax(auto, 320px));
      justify-content: center;
    }
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, minmax(auto, 320px));
    }
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: minmax(auto, 320px);
    }
  }

  &__offer {
    width: 100%;
    height: 100%;
    grid-column: 2/3;

    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpointsMaxW($bp-991) {
      grid-column: initial;
    }

    @include breakpointsMaxW($bp-576) {
      grid-column: 1/-1;
      margin-bottom: 70px;
    }
  }

  &__title {
    max-width: 180px;

    span {
      display: block;
    }

    @include breakpointsMaxW($bp-576) {
      max-width: 100%;
      span{
        display: inline;
      }
    }
  }

  &__cell {
    justify-self: center;
    height: 100%;
    width: 100%;
  }
}

.complex-card {
}
