.equipment {
  @include adaptive-value('padding-top', 55, 30, 1);
  @include adaptive-value('padding-bottom', 80, 40, 1);
  background-color: var(--color-bg);

  &__top {
    @include adaptive-value('padding-top', 75, 40, 1);
    @include adaptive-value('padding-bottom', 75, 40, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__wrapper {
    background-color: var(--color-dark-2);
    @include adaptive-value('padding', 45, 20, 1);
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 35px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}

.form-select {
  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
  }

  &__btn {
    width: 100%;
    height: 55px;
    margin-top: auto;

    &--dark {
      border: 1px solid rgba(#c1c1e4, 0.05);
      background-color: #171717;
      color: #979797;

      &:hover {
        border-color: var(--color-white);
        background-color: inherit;
        color: var(--color-white);
      }
    }
  }
}
