.header {
  padding: 30px 0 0 0;
  background-color: var(--color-bg);
  position: relative;

  @include breakpointsMaxW($bp-991) {
    padding: 30px 0;
  }
  &__toggle {
    display: none;

    @include breakpointsMaxW($bp-991) {
      flex-shrink: 0;
      width: 35px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      transition: 350ms ease-in;
      gap: 10px;

      &-line {
        border-radius: 3px;
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        position: relative;
        transition: 150ms ease-in;

        &:nth-child(1) {
          width: 100%;
        }
        &:nth-child(2) {
          width: 60%;
        }
        &:nth-child(3) {
          width: 80%;
        }
      }
    }
  }
  &__top {
    transition: 150ms ease;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      padding: 25px 0;
      width: 100%;
      @include adaptive-value('gap', 40, 20, 1);
      transition: 150ms ease;
    }

    &.scroll-header {
      .header__logo--fixed {
        display: block;
      }

      .header-top-inner {
        width: 100%;
      }

      top: 0;
      width: 100%;
      position: fixed;
      background-color: var(--color-bg);
      box-shadow: 0 0 0 1px var(--color-dark-3);
      z-index: 7;

      .header__toggle {
        flex-shrink: 0;
        width: 35px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 350ms ease-in;
        gap: 10px;

        &-line {
          border-radius: 3px;
          width: 100%;
          height: 1px;
          background-color: var(--color-white);
          position: relative;
          transition: 150ms ease-in;

          &:nth-child(1) {
            width: 100%;
          }
          &:nth-child(2) {
            width: 60%;
          }
          &:nth-child(3) {
            width: 80%;
          }
        }
      }
    }
  }

  &__bottom {
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .header__logo--fixed {
      display: none;
    }

    @include breakpointsMaxW($bp-991) {
      border-top: none;
      border-bottom: none;
      padding: 0;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      @include breakpointsMaxW($bp-container) {
        gap: calc(25px + (50 - 25) * ((100vw - 991px) / (1300 - 991)));
      }
    }
  }

  &__links {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 100px;
    @include breakpointsMaxW($bp-container) {
      gap: calc(50px + (100 - 50) * ((100vw - 991px) / (1300 - 991)));
    }

    @include breakpointsMaxW($bp-991) {
      gap: 70px;
      display: none;
    }
  }

  &__link {
    padding-left: 32px;
    position: relative;
    transition: 150ms ease;

    &:hover {
      color: var(--color-accent);
    }

    &::after {
      @include elDef();
      width: 19px;
      height: 19px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &--mail {
      &::after {
        @include backgroundImage(url('../images/content/mail.png'), contain);
      }
    }

    &--tel {
      &::after {
        @include backgroundImage(url('../images/content/phone.png'), contain);
      }
    }
  }

  &__choose {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__search {
    width: 21px;
    height: 21px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-white);
  }

  &__choose {
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__search {
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }
  &__socials {
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__btn {
    flex-shrink: 0;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &--main {
    position: absolute;
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 0;

    .header__top-inner {
      background-color: transparent;
    }
  }
}
