.hero {
  padding-top: 240px;
  padding-bottom: 40px;
  @include background(cover);

  @include breakpointsMaxW($bp-991) {
    padding-top: calc(120px + (150 - 120) * ((100vw - 320px) / (991 - 320)));
  }

  &__title {
    font-weight: 300;
    margin-bottom: 25px;
  }

  &__wrapper {
    min-height: 405px;
    display: grid;
    grid-template-columns: minmax(auto, 445px) minmax(auto, 735px);
    justify-content: space-between;
    gap: 50px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__offer {
    @include adaptive-value('padding-top', 50, 20, 1);
    max-width: 445px;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__content {
    position: relative;
  }

  &__arrows {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    z-index: 5;

    @include breakpointsMaxW($bp-991) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__preview {
    @include background(contain);
    max-width: 735px;
    height: 405px;
    width: 100%;
    @include adaptive-value('height', 405, 280, 1);

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
