.menu {
  width: 100%;
  max-width: 800px;

  @include breakpointsMaxW($bp-container) {
    max-width: calc(650px + (800 - 650) * ((100vw - 991px) / (1300 - 991)));
  }

  @include breakpointsMaxW($bp-991) {
    max-width: 700px;
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__link--dropdown {
    &:hover {
      &::after {
        background-color: var(--color-accent);
      }
    }
  }

  &__link {
    display: block;
    font-size: 16px;
    font-weight: 700;
    transition: 200ms ease;
    position: relative;
    color: #ebebeb;

    &:hover {
      color: var(--color-accent);
    }

    &--dropdown {
      padding-right: 15px;
      position: relative;

      .menu__link {
        &::after {
          @include elDef();
          width: 10px;
          height: 6px;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          @include maskImage(url('../images/icons/chevron.svg'), contain);
          background-color: #ebebeb;
        }
      }

      &:hover {
        &::before {
          transform: scale(0);
        }

        & + .dropmenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      &::after {
        @include elDef();
        width: 8px;
        height: 4px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include maskImage(url('../images/icons/chevron.svg'), 100%);
        background-color: #ebebeb;
      }
    }
  }
  .dropmenu {
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    width: 300px;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: var(--color-white);
    box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);
    border-radius: 10px;
    padding: 0 21px;
    transition: 450ms ease;
    transition-delay: 150ms;

    &:hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &__item {
      border-bottom: 1px solid #ebebeb;

      &:last-child {
        border-bottom: none;
      }
    }

    &__link {
      display: block;
      width: 100%;
      color: var(--color-dark);
      padding: 12px 0;
      transition: 150ms ease;
      position: relative;
      padding-right: 20px;

      &:hover {
        & + .submenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      &::after {
        @include elDef();
        width: 10px;
        height: 10px;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        @include maskImage(url('../images/sprite.svg#chevron'), 100%);
        background-color: #d0d0d0;
        transition: 150ms ease;
      }

      &:hover {
        color: var(--color-accent);

        &::after {
          background-color: var(--color-accent);
          transform: translateY(-50%) translateX(3px) rotate(-90deg);
        }
      }
    }
  }
}
