.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: var(--color-dark-2);
  z-index: 12;
  color: var(--color-white);

  width: 400px;

  @include breakpointsMaxW($bp-991) {
    width: 80%;
  }

  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 350ms ease-in-out;
  overflow-x: auto;

  @include adaptive-value('padding', 40, 20, 1);
  padding-bottom: 40px !important;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  &__logo {
    margin-bottom: 80px;
  }

  &__close {
    position: absolute;
    display: block;
    top: 22px;
    right: 20px;
    width: 28px;
    height: 28px;
    fill: var(--color-white);
    z-index: 999;
  }

  &__bottom {
    margin-top: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link {
    font-size: 20px;
    width: 100%;
    display: block;
  }

  .mobile-menu-box {
    &__content {
      padding-left: 20px;
    }

    &__list {
      padding-top: 10px;
      overflow-y: auto;
      max-height: 150px;
    }

    &__name {
      padding-right: 10px;
      font-size: 20px;
      display: block;
      width: 100%;
      text-align: left;
      color: var(--color-white);
    }

    &__link {
      display: block;
      font-size: 16px;
      padding: 5px 0;
    }
  }
}
