.product {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include adaptive-value('padding-top', 70, 40, 1);
    @include adaptive-value('padding-bottom', 70, 40, 1);

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.product-big-card {
  @include adaptive-value('padding-top', 60, 40, 1);
  @include adaptive-value('padding-bottom', 100, 60, 1);
  color: #cfcfcf;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    
    @include adaptive-value('gap', 60, 40, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    @include adaptive-value('margin-bottom', 80, 40, 1);
    max-width: 460px;
    width: 100%;
    height: 433px;
    @include adaptive-value('height', 433, 250, 1);

    img {
      @include img(contain);
    }
  }

  &__btn {
    @include adaptive-value('margin-bottom', 35, 15, 1);
    width: 224px;
  }

  &__notify {
    font-size: 14px;
    line-height: 24px;
    color: #a9a9a9;
  }

  &__info {
    padding-left: 40px;
    @include breakpointsMaxW($bp-container) {
      padding-left: 0;
    }
  }

  &__spec {
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__heading {
    display: block;
    color: var(--color-white);
    font-size: 22px;
    font-weight: 700;
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 0;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #1c1c1c;
    }
  }

  &__name {
  }

  &__numbers {
    flex-shrink: 0;
    width: 300px;
    text-align: right;

    @include breakpointsMaxW($bp-768) {
      text-align: left;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.6;

    &:not(:last-child) {
      @include adaptive-value('margin-bottom', 50, 30, 1);
    }
  }

  
}
