.product {
  @include adaptive-value('padding-bottom', 50, 30, 1);

  background-color: var(--color-bg);
  &__top {
    &-inner {
      @include adaptive-value('padding-top', 75, 40, 1);
      @include adaptive-value('padding-bottom', 75, 40, 1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      @include breakpointsMaxW($bp-991) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 15px;
    @include breakpointsMaxW($bp-container) {
      flex-direction: column-reverse;
      align-items: flex-end;
      gap: 30px;
    }
    @include breakpointsMaxW($bp-991) {
      align-items: center;
    }
  }

  &__marks {
  }
  .mark-box {
    &__list {
      display: flex;
      align-items: center;
      gap: 3px;
      flex-wrap: wrap;
      @include breakpointsMaxW($bp-768) {
        justify-content: center;
      }
    }

    &__item {
      width: 47px;
      height: 47px;
      background-color: #1e1e1e;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.product-big-card {
  @include adaptive-value('padding-top', 60, 40, 1);
  @include adaptive-value('margin-bottom', 90, 60, 1);
  color: #cfcfcf;

  position: relative;
  z-index: 1;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    @include adaptive-value('gap', 60, 40, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    @include adaptive-value('margin-bottom', 80, 40, 1);
    max-width: 460px;
    width: 100%;
    height: 433px;
    @include adaptive-value('height', 433, 250, 1);

    img {
      @include img(contain);
    }
  }

  &__btn {
    @include adaptive-value('margin-bottom', 35, 15, 1);
    width: 224px;
  }

  &__notify {
    font-size: 14px;
    line-height: 24px;
    color: #a9a9a9;
  }

  &__info {
    padding-left: 40px;
    @include breakpointsMaxW($bp-container) {
      padding-left: 0;
    }
  }

  &__spec {
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__heading {
    display: block;
    color: var(--color-white);
    font-size: 22px;
    font-weight: 700;
    @include adaptive-value('margin-bottom', 50, 30, 1);

    @include breakpointsMaxW($bp-991) {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 0;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      text-align: center;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #1c1c1c;
    }
  }

  &__numbers {
    flex-shrink: 0;
    width: 300px;
    text-align: right;

    @include breakpointsMaxW($bp-768) {
      text-align: center;
      width: 100%;
    }
  }

  &__name {
    @include breakpointsMaxW($bp-768) {
      width: 100%;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.6;

    &:not(:last-child) {
      @include adaptive-value('margin-bottom', 50, 30, 1);
    }

    @include breakpointsMaxW($bp-991) {
      text-align: center;
    }
  }
}

.tabs {
  &__top {
    @include breakpointsMaxW($bp-991) {
      overflow-x: auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #222222;
    gap: 20px;
    justify-content: space-between;

    @include breakpointsMaxW($bp-991) {
      min-width: 1100px;
    }
  }

  &__btn {
    color: var(--color-white);
    font-size: 17px;
    position: relative;
    transition: 250ms ease;
    flex-shrink: 0;

    @include breakpointsMaxW($bp-container) {
      font-size: calc(14px + (17 - 14) * ((100vw - 991px) / (1300 - 991)));
    }

    @include breakpointsMaxW($bp-991) {
      font-size: 16px;
    }

    &::after {
      @include elDef();
      width: 100%;
      height: 2px;
      background-color: var(--color-accent);
      transform: scaleX(0);
      bottom: -20px;
      left: 0;
      transition: 250ms ease;
    }

    &:hover {
      color: var(--color-accent);
    }

    &--active {
      color: var(--color-accent);

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__content {
    @include adaptive-value('padding-top', 50, 30, 1);
    font-size: 15px;
    line-height: 25px;
    color: #d0d0d0;
    display: none;

    &.active {
      display: block;
      animation: opacity-visibility 700ms ease forwards;
    }
  }
}

.docs-tabs {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px 40px;
    justify-content: flex-start;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, auto);
    }
  }

  &__link {
    display: block;
    font-size: 15px;
    line-height: 25px;
    color: #d0d0d0;
    padding-left: 30px;
    position: relative;
    transition: 150ms ease;

    &::after {
      @include elDef();
      width: 20px;
      height: 20px;
      @include backgroundImage(url('../images/content/pdf.png'), contain);
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &:hover {
      color: var(--color-white);
      transform: translateX(2px);
    }
  }
}

.sizes-tabs {
  &__list {
    max-width: 550px;
    width: 100%;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }
  }

  &__item {
    font-size: 15px;
    color: #d0d0d0;

    &:not(:last-child) {
      border-bottom: 1px solid #1c1c1c;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    gap: 30px;
  }
}

.spec-tabs {
  &__lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptive-value('gap', 70, 30, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  &__item {
    font-size: 15px;
    color: #d0d0d0;

    &:not(:last-child) {
      border-bottom: 1px solid #1c1c1c;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    gap: 30px;
  }

  &__left {
    width: 45%;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width: 45%;
    flex-shrink: 0;
  }
}
