.products {
  @include adaptive-value('padding-top', 70, 40, 1);
  @include adaptive-value('padding-bottom', 70, 40, 1);
  z-index: 2;
  background-color: var(--color-bg);

  &__title {
    max-width: 200px;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
      text-align: center;
    }
  }

  &__text {
    @include breakpointsMaxW($bp-768) {
      text-align: center;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 230px) minmax(auto, 1010px);
    gap: 50px;
    @include adaptive-value('gap', 50, 40, 1);
    z-index: 2;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    counter-reset: number;
    z-index: 2;

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    justify-self: center;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  &__offer {
    @include breakpointsMaxW($bp-768) {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__btn {
    @include breakpointsMaxW($bp-768) {
      text-align: center;
      margin: 0 auto;
      display: block;
    }
  }

  &--offer-col {
    background-color: var(--color-dark);

    .products {
      &__title {
        margin-bottom: 20px;
      }
      &__offer {
        max-width: 230px;
        width: 100%;
      }

      &__text {
        margin-bottom: 30px;
      }

      &__btn {
        font-size: 17px;
        padding: 15px;
      }
    }
  }
}
