.request {
  @include adaptive-value('padding-top', 50, 40, 1);
  @include adaptive-value('padding-bottom', 50, 30, 1);
  
  &__wrapper {
    display: flex;
    align-items: center;
    @include adaptive-value('gap', 65, 30, 1);

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__offer {
    flex-shrink: 0;
  }

  &__title {
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 15px;
    max-width: 840px;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }
}

.form-submit {
  width: 100%;

  &__label {
    font-size: 11px;
    font-weight: 700;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__input {
    padding: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    color: var(--color-white);

    &::placeholder {
      color: #626268;
    }
  }

  &__btn {
    width: 100%;
    height: 50px;
    margin-top: auto;
    margin-bottom: 5px;
  }
}
