.request {
  @include adaptive-value('padding-top', 50, 40, 1);
  background-color: var(--color-black);

  &__wrapper {
    display: flex;
    align-items: center;
    @include adaptive-value('gap', 65, 30, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @include adaptive-value('padding-bottom', 50, 30, 1);

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
      border-bottom: none;
    }
  }

  &__offer {
    flex-shrink: 0;

    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 15px;
    max-width: 840px;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
  }
}

.form-submit {
  width: 100%;

  &__label {
    font-weight: 700;
    font-size: 17px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__input-wrap {
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
      @include elDef();
      width: 15px;
      height: 18px;
      background-color: #626268;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--phone {
      &::after {
        @include maskImage(url('../images/icons/phone-no-bg.svg'), contain);
      }
    }

    &--name {
      &::after {
        @include maskImage(url('../images/icons/user.svg'), contain);
      }
    }
  }

  &__input {
    padding: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    color: var(--color-white);
    padding-left: 50px;

    &::placeholder {
      color: #626268;
    }
  }

  &__btn {
    width: 100%;
    height: 50px;
    margin-top: auto;
    margin-bottom: 5px;
  }
}
