.services {
  background-color: #1d1e1d;
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 90, 50, 1);
  z-index: 1;

  &__title {
    @include adaptive-value('margin-bottom', 50, 30, 1);

    @include breakpointsMaxW($bp-991) {
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 320px));
    position: relative;
    z-index: 1;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(3, minmax(auto, 320px));
      justify-content: center;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, minmax(auto, 320px));
    }
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: minmax(auto, 320px);
    }

    &::after {
      @include elDef();
      width: 545px;
      height: 215px;
      @include backgroundImage(url('../images/content/mosaic.png'), contain);
      right: 100px;
      top: -85px;
      z-index: -1;

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }
  }

  &__item {
    height: 100%;
    justify-self: center;
    width: 100%;
  }

  .complex-card {
    padding-top: 100px;
    min-height: 215px;

    &::after {
      width: 49px;
      height: 49px;
    }
  }
}
