.service-descr {
  &__top {
    background-color: var(--color-bg);

    &-inner {
      @include adaptive-value('padding-top', 75, 40, 1);
      @include adaptive-value('padding-bottom', 75, 40, 1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      @include breakpointsMaxW($bp-991) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  &__content {
    background-color: var(--color-dark);
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptive-value('padding-top', 70, 30, 1);
    @include adaptive-value('padding-bottom', 100, 60, 1);
    gap: 60px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__preview {
    max-width: 570px;
    width: 100%;
    @include adaptive-value('height', 380, 300, 1);

    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
    }

    img {
      @include img(contain);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  &__item {
    position: relative;
    padding-left: 42px;
    color: #bcbcbc;
    font-size: 15px;
    line-height: 1.6;

    &::after {
      @include elDef();
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
      transform: translateY(50%);
      background-color: var(--color-accent);
    }
  }
}
