<section class="about">
  <div class="about__top">
    <div class="container">
      <div class="about__top-inner">
        <h2 class="about__title section-title">О компании</h2>

        <button class="about__btn btn" type="button">
          Заказать консультацию
        </button>
      </div>
    </div>
  </div>
  <div class="about__wrapper">
    <div class="container">
      <div class="about__inner">
        <div class="about__descr">
          <p>
            Более 70 лет "NKMZ Hydro" является одним из лидеров российского
            рынка насосостроения.
          </p>

          <p>
            Современный научно-технический центр и мощная производственная база
            позволяют "NKMZ Hydro" обеспечивать потребителей качественным,
            надежным и энергоэффективным насосным оборудованием. Начиная с 2001
            г. на предприятии действует система менеджмента качества,
            соответствующая требованиям международного стандарта ISO 9001.
          </p>

          <p>
            Мы проектируем, производим и испытываем крупное насосное
            оборудование (включая API 610), гидротурбины, насосы-турбины
            мощностью до 20 МВт, промышленные смесители, перемешивающие
            устройства.
          </p>
        </div>
        <ul class="about__list">
          <li class="about__item">
            <h3 class="about__heading">Производственные возможности</h3>
            <div class="about__text">
              <p>
                Осуществляем собственное производство с использованием
                технологичного оборудования
              </p>
            </div>
          </li>
          <li class="about__item">
            <h3 class="about__heading">Условия и гарантии клиентам</h3>
            <div class="about__text">
              <p>
                Всем партнерам предлагаются актуальные цены, индивидуальное
                отношение и гибкие условия оплаты
              </p>
            </div>
          </li>
          <li class="about__item">
            <h3 class="about__heading">Техническое обслуживание и ремонт</h3>
            <div class="about__text">
              <p>
                Осуществляем ремонт нефтегазового оборудования любой сложности
              </p>
            </div>
          </li>
          <li class="about__item">
            <h3 class="about__heading">Сертификаты на продукцию</h3>
            <div class="about__text">
              <p>Все оборудование полностью сертифицировано</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="about__preview">
        <div
          class="about__img"
          style="background-image: url('images/content/about-bg.png')"
        ></div>
      </div>
    </div>
  </div>
</section>
