<section class="advantages">
  <div class="container">
    <div class="advantages__wrapper">
      <div class="advantages__offer">
        <h2 class="advantages__title section-title">
          Производственная компания NKMZ HYDRO
        </h2>
        <div class="advantages__text">
          <p>
            Более 70 лет "NKMZ Hydro" является одним из лидеров российского
            рынка насосостроения.
          </p>

          <p>
            Современный научно-технический центр и мощная производственная база
            позволяют "NKMZ Hydro" обеспечивать потребителей качественным,
            надежным и энергоэффективным насосным оборудованием. Начиная с 2001
            г. на предприятии действует система менеджмента качества,
            соответствующая требованиям международного стандарта ISO 9001.
          </p>
        </div>

        <a class="advantages__btn btn" href="#">Подробнее</a>
      </div>

      <div
        class="advantages__preview"
        style="background-image: url('images/content/advantages-bg.jpg')"
      ></div>

      <ul class="advantages__list">
        <li class="advantages__item">
          <h3 class="advantages__heading">Производственные возможности</h3>
          <div class="advantages__descr">
            <p>
              Осуществляем собственное
              производство с использованием
              технологичного оборудования
            </p>
          </div>
        </li>
        <li class="advantages__item">
          <h3 class="advantages__heading">Техническое обслуживание
            и ремонти</h3>
          <div class="advantages__descr">
            <p>
              Осуществляем ремонт
              нефтегазового оборудования
              любой сложности
            </p>
          </div>
        </li>
        <li class="advantages__item">
          <h3 class="advantages__heading">Условия и гарантии
            клиентам</h3>
          <div class="advantages__descr">
            <p>
              Всем партнерам предлагаются
              актуальные цены, индивидуальное
              отношение и гибкие условия оплаты
            </p>
          </div>
        </li>
        <li class="advantages__item">
          <h3 class="advantages__heading">Сертификаты на
            продукцию</h3>
          <div class="advantages__descr">
            <p>
              Все оборудование полностью
сертифицировано
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
