<section class="catalog">
  <div class="container">
    <div class="catalog__top">
      <h2 class="catalog__title section-title">Горизонтальные насосы</h2>

      <button class="catalog__btn btn" type="button">
        Заказать консультацию
      </button>
    </div>

    <div class="catalog__content">
      <ul class="catalog__list">
        <li class="catalog__item">
          <article class="product-card">
            <div class="product-card__inner">
              <div class="product-card__img">
                <img src="images/content/products/1.png" alt="ДГН Серия" />
              </div>

              <div class="product-card__info">
                <h3 class="product-card__title"><a href="#">ДГН Серия</a></h3>

                <a class="product-card__btn" href="#">
                  <svg width="17" height="10">
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__item">
          <article class="product-card">
            <div class="product-card__inner">
              <div class="product-card__img">
                <img src="images/content/products/2.png" alt="КНП Серия" />
              </div>

              <div class="product-card__info">
                <h3 class="product-card__title"><a href="#">КНП Серия</a></h3>

                <a class="product-card__btn" href="#">
                  <svg width="17" height="10">
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__item">
          <article class="product-card">
            <div class="product-card__inner">
              <div class="product-card__img">
                <img src="images/content/products/3.png" alt="ЦНСР Серия" />
              </div>

              <div class="product-card__info">
                <h3 class="product-card__title"><a href="#">ЦНСР Серия</a></h3>

                <a class="product-card__btn" href="#">
                  <svg width="17" height="10">
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__item">
          <article class="product-card">
            <div class="product-card__inner">
              <div class="product-card__img">
                <img src="images/content/products/4.png" alt="ЦНС Серия" />
              </div>

              <div class="product-card__info">
                <h3 class="product-card__title"><a href="#">ЦНС Серияя</a></h3>

                <a class="product-card__btn" href="#">
                  <svg width="17" height="10">
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__item">
          <article class="product-card">
            <div class="product-card__inner">
              <div class="product-card__img">
                <img src="images/content/products/1.png" alt="ДГН Серия" />
              </div>

              <div class="product-card__info">
                <h3 class="product-card__title"><a href="#">ДГН Серия</a></h3>

                <a class="product-card__btn" href="#">
                  <svg width="17" height="10">
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__item">
          <article class="product-card">
            <div class="product-card__inner">
              <div class="product-card__img">
                <img src="images/content/products/2.png" alt="КНП Серия" />
              </div>

              <div class="product-card__info">
                <h3 class="product-card__title"><a href="#">КНП Серия</a></h3>

                <a class="product-card__btn" href="#">
                  <svg width="17" height="10">
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__item">
          <article class="product-card">
            <div class="product-card__inner">
              <div class="product-card__img">
                <img src="images/content/products/3.png" alt="ЦНСР Серия" />
              </div>

              <div class="product-card__info">
                <h3 class="product-card__title"><a href="#">ЦНСР Серия</a></h3>

                <a class="product-card__btn" href="#">
                  <svg width="17" height="10">
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__item">
          <article class="product-card">
            <div class="product-card__inner">
              <div class="product-card__img">
                <img src="images/content/products/4.png" alt="ЦНС Серия" />
              </div>

              <div class="product-card__info">
                <h3 class="product-card__title"><a href="#">ЦНС Серияя</a></h3>

                <a class="product-card__btn" href="#">
                  <svg width="17" height="10">
                    <use xlink:href="images/sprite.svg#eye"></use>
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <div class="catalog__loader loader"></div>
    </div>
  </div>
</section>
