<section
  class="complex"
  style="background-image: url('images/content/complex-bg.jpg')"
>
  <div class="container">
    <div class="complex__wrapper">
      <div class="complex__offer">
        <h2 class="complex__title section-title">
          Комплекс услуг <br />
          под ключ
        </h2>
      </div>

      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
      <li class="complex__cell">
        <article class="complex-card complex-card--horizontal">
          <h3 class="complex-card__heading">Горизонтальные насосы</h3>

          <a class="complex-card__btn" href="#">Подробнее</a>
        </article>
      </li>
    </div>
  </div>
</section>
