<section class="contacts">
  <div class="container">
    <div class="contacts__top">
      <h2 class="contacts__title section-title">Контакты</h2>

      <button class="contacts__btn btn" type="button">
        Заказать консультацию
      </button>
    </div>
    <div class="contacts__wrapper">
      <div class="contacts__info">
        <div class="contacts__box">
          <span class="contacts__name">Головной офис</span>
          <address class="contacts__address">
            <p>
              «г. Москва, ул. Бутлерова, д. 17, бизнес-центр «NEO GEO», 9 этаж»
            </p>
          </address>
        </div>
        <div class="contacts__box">
          <span class="contacts__name">Производственная площадка</span>
          <address class="contacts__address">
            <p>«г. Нефтекамск, ул. Магистральная, д. 19, стр. 1»</p>
          </address>
        </div>

        <div class="contacts__connect">
          <a
            class="contacts__link contacts__link--phone"
            href="tel:+74952300030"
          >
            +7 (495) 230 00 30
          </a>
          <a
            class="contacts__link contacts__link--mail"
            href="mailto:info@nkmzhydro.com"
          >
            info@nkmzhydro.com
          </a>
        </div>
      </div>

      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A9c752f2fc1f2afe50557b289dca879f921e9cac7db337cc953ff693bd46ce5f7&amp;source=constructor"
          width="820"
          height="475"
        ></iframe>
      </div>
    </div>
  </div>
</section>
