<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__col footer__col--copy">
        <a class="footer__logo logo" href="#">
          <img src="images/logo.png" alt="Логотип" />
        </a>
        <div class="footer__copy">
          <p>© 2021 NKMZ HYDRO</p>
          <p>Все права защищены</p>
          <a class="footer__policy" href="#">Политика конфиденциальности </a>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__col mr20">
          <span class="footer__name">Решение для отрасли</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Нефтегазовая отрасль</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">ЖКХ и Водоканалы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Пищевая промышленность</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Химическая промышленность</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Гидроэлектростанции</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Тепловые электростанции</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Судоходные каналы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Мелиорация</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Атомные электростанции</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">
                Горнодобывающая промышленность
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__col footer__col--small">
          <span class="footer__name">Услуги</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Испытательный комплекс</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Автоматизация</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Модернизация</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Специальные исполнения</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">НКМЗ Сервис</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">НКМЗ Финанс</a>
            </li>
          </ul>
        </div>

        <div class="footer__col footer__col--small">
          <span class="footer__name">Продукты</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Горизонтальные насосы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Вертикальные насосы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Гидротурбины</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Насосы-турбины</a>
            </li>
          </ul>
        </div>

        <div class="footer__col footer__col--small">
          <span class="footer__name">Компания</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О нас</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Новости</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Подбор оборудования</a>
            </li>
          </ul>
        </div>
        <div class="footer__info">
          <address class="footer__address">
            Российская Федерация, г. Москва, ул. Бутлерова, д. 17, 117342,
            Бизнес центр «NEO GEO», 9 этаж
          </address>

          <div class="footer__links">
            <a
              class="footer__link-contact footer__link-contact--phone"
              href="tel:+74952300030"
            >
              +7 (495) 230 00 30
            </a>
            <a
              class="footer__link-contact footer__link-contact--mail"
              href="mailto:info@nkmzhydro.com"
            >
              info@nkmzhydro.com.
            </a>
          </div>

          <a class="footer__btn-up" href="#">
            <svg width="20" height="11">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="footer__copy footer__copy--mobile">
        <p>© 2022 NKMZ HYDRO</p>
        <p>Все права защищены</p>
        <a class="footer__policy" href="#">Политика конфиденциальности </a>
      </div>
    </div>
  </div>
</footer>
