<section
  class="hero"
  style="background-image: url('images/content/hero-bg.jpg')"
>
  <div class="container">
    <div class="hero__content">
      <div class="hero__slider swiper">
        <ul class="hero__slides swiper-wrapper">
          <li class="hero__slide swiper-slide">
            <div class="hero__wrapper">
              <div class="hero__offer">
                <h2 class="hero__title section-title">
                  Насосное оборудование NKMZ HYDRO
                </h2>

                <div class="hero__text">
                  <p>с доставкой и установкой</p>
                </div>

                <button class="hero__btn btn" type="button">Подробнее</button>
              </div>

              <div
                class="hero__preview"
                style="background-image: url('images/content/hero/1.png')"
              ></div>
            </div>
          </li>
          <li class="hero__slide swiper-slide">
            <div class="hero__wrapper">
              <div class="hero__offer">
                <h2 class="hero__title section-title">
                  Насосное оборудование NKMZ HYDRO
                </h2>

                <div class="hero__text">
                  <p>с доставкой и установкой</p>
                </div>

                <button class="hero__btn btn" type="button">Подробнее</button>
              </div>

              <div
                class="hero__preview"
                style="background-image: url('images/content/hero/1.png')"
              ></div>
            </div>
          </li>
          <li class="hero__slide swiper-slide">
            <div class="hero__wrapper">
              <div class="hero__offer">
                <h2 class="hero__title section-title">
                  Насосное оборудование NKMZ HYDRO
                </h2>

                <div class="hero__text">
                  <p>с доставкой и установкой</p>
                </div>

                <button class="hero__btn btn" type="button">Подробнее</button>
              </div>

              <div
                class="hero__preview"
                style="background-image: url('images/content/hero/1.png')"
              ></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="hero__arrows">
        <button
          class="swiper-button-prev hero__arrow hero__arrow--prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
        <button
          class="swiper-button-next hero__arrow hero__arrow--next"
          type="button"
          aria-label="Следующий"
        ></button>
      </div>
    </div>
  </div>
</section>
