<section class="photos">
  <div class="container">
    <div class="photos__wrapper">
      <div class="photos__offer">
        <h2 class="photos__title section-title">Фото продукции</h2>
        <div class="photos__text">
          <p>Более 1000 ассортимента насосов в наличии и под заказ</p>
        </div>

        <div class="photos__arrows">
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
        </div>
      </div>

      <div class="photos__slider swiper">
        <ul class="photos__slides swiper-wrapper">
          <li class="photos__slide swiper-slide">
            <div class="photos-card">
              <div class="photos-card__inner">
                <div class="photos-card__img">
                  <img src="images/content/products/1.png" alt="Продукт 1" />
                </div>
              </div>
            </div>
          </li>
          <li class="photos__slide swiper-slide">
            <div class="photos-card">
              <div class="photos-card__inner">
                <div class="photos-card__img">
                  <img src="images/content/products/2.png" alt="Продукт 1" />
                </div>
              </div>
            </div>
          </li>
          <li class="photos__slide swiper-slide">
            <div class="photos-card">
              <div class="photos-card__inner">
                <div class="photos-card__img">
                  <img src="images/content/products/3.png" alt="Продукт 1" />
                </div>
              </div>
            </div>
          </li>
          <li class="photos__slide swiper-slide">
            <div class="photos-card">
              <div class="photos-card__inner">
                <div class="photos-card__img">
                  <img src="images/content/products/1.png" alt="Продукт 1" />
                </div>
              </div>
            </div>
          </li>
          <li class="photos__slide swiper-slide">
            <div class="photos-card">
              <div class="photos-card__inner">
                <div class="photos-card__img">
                  <img src="images/content/products/2.png" alt="Продукт 1" />
                </div>
              </div>
            </div>
          </li>
          <li class="photos__slide swiper-slide">
            <div class="photos-card">
              <div class="photos-card__inner">
                <div class="photos-card__img">
                  <img src="images/content/products/3.png" alt="Продукт 1" />
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
