<section class="product">
  <div class="product__top">
    <div class="container">
      <div class="product__top-inner">
        <h2 class="product__title section-title">ДГН СЕРИЯ</h2>

        <button class="product__btn btn btn-consultation" type="button">
          Заказать консультацию
        </button>
      </div>
    </div>
  </div>

  <div class="product-big-card">
    <div class="container">
      <div class="product-big-card__inner">
        <div class="product-big-card__preview">
          <div class="product-big-card__img">
            <img src="images/content/product-card/2.png" alt="ДГН СЕРИЯ" />
          </div>

          <button class="product-big-card__btn btn btn-product" type="button">
            Заказать насос
          </button>

          <div class="product-big-card__notify">
            <p>Оставьте заявку и наши менеджеры перезвонят Вам.</p>
            <p>
              Так же Вы можете позвонить в нашу службу работы с клиентами по
              телефону
            </p>
            <p>+7 (495) 287-08-25; +7 (495) 252-00-90.</p>
          </div>
        </div>

        <div class="product-big-card__info">
          <div class="product-big-card__text">
            <p>
              Горизонтальный одноступенчатый насос с колесом двухстороннего
              входа с возможностью установки в вертикальном положении для воды,
              водных растворов, подтоварной воды, ТЭЦ, АЭС, общепромышленных
              нужд.
            </p>
          </div>

          <div class="product-big-card__spec">
            <span class="product-big-card__heading">
              Общие характеристики:
            </span>

            <ul class="product-big-card__list">
              <li class="product-big-card__item">
                <span class="product-big-card__name">Мощность</span>
                <span class="product-big-card__numbers">1,1 ÷ 4,1 kW</span>
              </li>
              <li class="product-big-card__item">
                <span class="product-big-card__name">Кол. полюсов</span>
                <span class="product-big-card__numbers">2 / 4 / 6</span>
              </li>
              <li class="product-big-card__item">
                <span class="product-big-card__name">Напор</span>
                <span class="product-big-card__numbers"
                  >GAS 2” 1/2 Вер. | DN 65 ÷ DN 150 Гор.</span
                >
              </li>
              <li class="product-big-card__item">
                <span class="product-big-card__name">Свободный просвет</span>
                <span class="product-big-card__numbers">max 150 mm</span>
              </li>
              <li class="product-big-card__item">
                <span class="product-big-card__name"
                  >Макс. производительность</span
                >
                <span class="product-big-card__numbers">46.4 l/s</span>
              </li>
              <li class="product-big-card__item">
                <span class="product-big-card__name">Макс. напор</span>
                <span class="product-big-card__numbers">22.3 m</span>
              </li>
            </ul>
          </div>
          <div class="product-big-card__purpose">
            <span class="product-big-card__heading">
              Назначение оборудования:
            </span>

            <div class="product-big-card__text">
              <p>
                Находит применение при наличии биологических загрязненных
                жидкостей и канализационных неотфильтрованных стоков, а также
                для подъема гражданских стоков. Отлично подходит для
                использования в очистных сооружениях, канализационных системах,
                животноводческих фермах, в промышленности и сельском хозяйстве.
                Эта серия предназначена для системы охлаждения ZENIT для сухой
                или полупогружной установки.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
