<section class="products products--offer-col">
  <div class="container">
    <div class="products__wrapper">
      <div class="products__offer">
        <h2 class="products__title section-title">Продукция</h2>

        <div class="products__text">
          <p>
            Под брендом NKMZ HYDRO выпускается широкий спектр наносного
            оборудования
          </p>
        </div>
      </div>

      <ul class="products__list">
        <li class="products__item">
          <article class="services-card">
            <div class="services-card__img">
              <img
                src="images/content/services-card/1.png"
                alt="Горизонтальные
              насосы"
              />
            </div>

            <div class="services-card__info">
              <h3 class="services-card__title">Горизонтальные насосы</h3>
              <div class="services-card__text">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>

              <button class="services-card__btn btn btn--dark">
                Подробнее
              </button>
            </div>
          </article>
        </li>
        <li class="products__item">
          <article class="services-card">
            <div class="services-card__img">
              <img
                src="images/content/services-card/2.png"
                alt="Вертикальные
                насосы"
              />
            </div>

            <div class="servicess-card__info">
              <h3 class="services-card__title">Вертикальные насосы</h3>
              <div class="services-card__text">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>

              <button class="services-card__btn btn btn--dark">
                Подробнее
              </button>
            </div>
          </article>
        </li>
        <li class="products__item">
          <article class="services-card">
            <div class="services-card__img">
              <img
                src="images/content/services-card/3.png"
                alt="Вертикальные
                насосы"
              />
            </div>

            <div class="servicess-card__info">
              <h3 class="services-card__title">Гидротурбины</h3>
              <div class="services-card__text">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>

              <button class="services-card__btn btn btn--dark">
                Подробнее
              </button>
            </div>
          </article>
        </li>
        <li class="products__item">
          <article class="services-card">
            <div class="services-card__img">
              <img
                src="images/content/services-card/4.png"
                alt="Насосы-турбины"
              />
            </div>

            <div class="servicess-card__info">
              <h3 class="services-card__title">Насосы-турбины</h3>
              <div class="services-card__text">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>

              <button class="services-card__btn btn btn--dark">
                Подробнее
              </button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
