<section class="service-descr">
  <div class="service-descr__top">
    <div class="container">
      <div class="service-descr__top-inner">
        <h2 class="service-descr__title section-title">
          Испытательный комплекс
        </h2>

        <button class="service-descr__btn btn btn-service" type="button">
          Заказать услугу
        </button>
      </div>
    </div>

    <div class="service-descr__content">
      <div class="container">
        <div class="service-descr__inner">
          <div class="service-descr__preview">
            <img
              src="images/content/product-card/2.png"
              alt="Испытательный комплекс"
            />
          </div>
          <ul class="service-descr__list">
            <li class="service-descr__item">
              Испытательный комплекс НКМЗ обеспечивает испытания насосов,
              насосов-турбин и гидротурбин согласно требованиям стандартов ISO
              9906:2015, DIN EN ISO 9906:2015, ASME PTC 18 - 2011 по 1 классу
              точности (высший класс), что позволяет точно замерить КПД с
              отклонением не более ± 2 [%]
            </li>
            <li class="service-descr__item">
              60 [МПа] – максимальное давление, создаваемое испытуемым насосным
              оборудованием​
            </li>
            <li class="service-descr__item">
              Объем рабочей жидкости – более 4000 [м3], возможность испытаний до
              23 000 [м3/ч] на натурных оборотах и 46 000 [м3/ч] на половинчатых
              оборотах
            </li>
            <li class="service-descr__item">
              Длительность испытаний насосного оборудования – не ограничена
              (большая мощность охлаждения рабочей жидкости сухими градирнями)
            </li>
            <li class="service-descr__item">
              60 [МПа] – максимальное давление, создаваемое испытуемым насосным
              оборудованием​
            </li>
            <li class="service-descr__item">
              Количество мест для испытаний насосов – 4 места (позволяет
              проводить одновременные испытания от двух до четырех насосов и
              отрабатывать энергоэффективные режимы насосного оборудования, как
              на настоящей насосной станции Клиента)
            </li>
            <li class="service-descr__item">
              Первый Испытательный комплекс в СНГ, который провел полностью
              автоматические (без участия оператора) испытания одного насоса и
              двух насосов в паре со снятием всех необходимых характеристик по
              ISO 9906:2015, включая полный цикл полнонапорных параметрических и
              кавитационных испытаний​
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
