<section class="services">
  <div class="container">
    <div class="services__wrapper">
      <h2 class="services__title section-title">Услуги</h2>

      <ul class="services__list">
        <li class="services__item">
          <h3 class="services__heading">Горизонтальные насосы</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">Верикальные насосы</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">Модернизация</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">НКМЗ Сервис</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">Испытательный комплекс</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">Автоматизация</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">Гидротурбины</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">НКМЗ Финанс</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">Насосы - турбины</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
        <li class="services__item">
          <h3 class="services__heading">Специальные исполнения</h3>

          <a class="services__btn" href="#">Подробнее</a>
        </li>
      </ul>
    </div>
  </div>
</section>
