<section class="service">
  <div class="container">
    <div class="service__wrapper">
      <div class="service__offer">
        <h2 class="service__title section-title">Сервис</h2>
        <div class="service__text">
          Мы предоставляем длительный срок гарантийного периода (до 8 лет), так
          как уверены в качестве собственной продукции. Гарантия
          распространяется на корпусные детали, основные узлы (подшипники,
          торцевые уплотнения), импеллеры (рабочие колеса), щелевые кольца,
          КИП-автоматику, электродвигатель и прочие детали насосного
          оборудования.​
        </div>

        <button class="service__btn btn btn-consultation" type="button">
          Заказать консультацию
        </button>
      </div>

      <div
        class="service__preview"
        style="background-image: url('images/content/service-bg.jpg')"
      ></div>

      <div class="service__descr">
        <p>
          Мы держим отдельные комплекты ЗИП под каждый проект, чтобы
          обеспечивать быстрый гарантийный/не гарантийный ремонт для комфортной
          работы Клиента с нашим оборудованием.
        </p>

        <p>
          К вашим услугам 24 часовой Call Center для поддержки клиентов в
          гарантийный/ негарантийный период. Мы ценим каждого своего Клиента и
          всегда стараемся оказать своевременную помощь и уменьшить время
          простоя оборудования.
        </p>
      </div>
    </div>
  </div>
</section>
